body{
    background-color: whitesmoke;
}

div{text-align: center; margin-top: -3rem; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}

h1{font-size: 200px; letter-spacing:4rem; margin-left: 2rem;}

h4{font-size: 40px; margin-top: -5rem; }

p{font-size: 20px;}